body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.container {
  perspective: 1000px;
}

.tree {
  position: relative;
  height: 50vmin;
  width: 25vmin;
  transform-style: preserve-3d;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 8s infinite linear;
}

.star {
  position: absolute;
  top: -2vmin;
  left: 50%;
  transform: translateX(-50%);
  width: 3vmin;
  height: 3vmin;
  background: #fbbd11;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  filter: drop-shadow(0 0 10px #eeedeb) drop-shadow(0 0 20px #ffe815);
}

.tree__light {
  transform-style: preserve-3d;
  position: absolute;
  height: 1vmin;
  width: 1vmin;
  border-radius: 50%;
  transform: translate(-50%, 50%) rotateY(calc(var(--i, 0) * 36deg)) translateZ(calc(var(--i, 0) * 0.5vmin));
  top: calc(var(--i, 0) * 1.2vmin);
  left: 50%;
  background: radial-gradient(circle, #ecf0ee, var(--color));
  box-shadow: 0 0 5px var(--color), 0 0 10px var(--color), 0 0 15px var(--color);
}

.tree__light:nth-child(odd) {
  --color: #f63131;
}

.tree__light:nth-child(even) {
  --color: #baf674ea;
}

.tree__light:nth-child(3n) {
  --color: #f41717;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}